@inherits LayoutComponentBase

<PageTitle>KnewAlreadyWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div id="main-content" class="container">
            @Body
        </div>
    </main>
</div>


<style>
    main {
        background: url('/assets/images/nature-wallpaper-3721894.jpg');
        background-size: cover;
    }
</style>