@using KnewAlreadyWebApp.Data
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Suggest Action App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/last-requests">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Последние запросы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile">
                <span class="oi oi-person" aria-hidden="true"></span> Настройки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Регистрация
            </NavLink>
        </div>
        <div>
            <div class="px-3">
                <h3>Пользователи</h3>
                <ul class="navbar-userlist">
                    @foreach (var u in users)
                    {
                        <li><a href=@($"/last-requests/user/{u.Username}")>@u.Username</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    [Inject] public SuggetWebApiSwaggerClient ApiClient { get; set; }

    List<UserModel> users = new List<UserModel>();

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var data = (await ApiClient.GetAllUsersAsync())
            .Select(user => new UserModel()
                {
                    Id = user.Id,
                    Username = user.Username
                })
            .ToList();

        users = data;
    }
}
