@page "/fetchdata"
@inject IWeatherForecastService testService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <LoadingSpinner />
}
else
{
    <div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

@code {
    private WeatherForecastDto[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(1.6));
        forecasts = await testService.GetForecasts();
    }
}
