@page "/"

<PageTitle>Главная</PageTitle>

<div class="container">
    <h1>API скрытого уведомления</h1>
    <h2>В чем суть</h2>
    <p>Данный API позволяет в двум людям согласится на какое-то действие и только в том случае, если согласились оба человека, в ином случае (если согласился только 1н) - никто из обоих не узнает, хотел ли другой человек вообще этого или нет. Это ползволяет <strong>в ненавязчивой форме</strong> согласится на какоето действие/событие</p>
    <h2>Пример использования для наглядности</h2>

    <div class="home-api-example-box">

        <div class="home-api-example-item-outer">

            <div class="home-api-example-item-inner">
                <img src="https://ic.pics.livejournal.com/kirillkrm/30093132/940757/940757_original.jpg" />
                <div>
                    <h3>Вы играете в игру с возможностью пере-генерации карты (на примере игры HOTA)</h3>
                    <p>В игре HOTA вы можете предложить сопернику перегенерировать карту (если у вас не осталось рестартов, обычно их 1 или 2), но соперник может отказаться, и в этом случае он узнает что у вас плохое положение.</p>
                    <p>В тоже время, если делать это в скрытом виде - через этот API, то получается что только когда вы <strong>ОБА</strong> согласитесь на перегенерацию вам обоим придет уведомление что событие <strong>произошло</strong>.</p>
                    <p>В ином случае - когда на перегенерацию согласился только один из вас, ничего не произойдет, и все просто будет идти своим чередом.</p>
                    <p>Тоесть, еще раз. Если например: у вас обоих "плохой респ" и вы <strong>ОБА</strong> не хотите его играть, но и говорить сопернику об этом "стесняетесь" (т.к. он с большой вероятностью откажет, и будет прав) - в этом случае можно использовать данный API </p>
                </div>
            </div>
        </div>

        <div class="home-api-example-item-outer">

            <div class="home-api-example-item-inner">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd4OldQvXRLdXW3_h1RMjp4eFYYYJQXO6to7VIXtsm_g8kxKuneMjZPNknRq2CDuzmLC0&usqp=CAU" />
                <div>
                    <h3>Игра в футбол с друзьями</h3>
                    <p>Вы переодически ходите играть в футбол с другом, но не хотите напрашиватся</p>
                    <p>И вот вы можете разместить запрос и если оба согласны - вы пойдете играть оба</p>
                    <p>Если кто то не согласен он может пойти играть с другими один или не пойти вообще (если например он хотел пойти только в том случае, если вы тоже пошли бы)</p>
                </div>
            </div>
        </div>

        <div class="home-api-example-item-outer">

            <div class="home-api-example-item-inner">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTQHjc8nGspqJxVQX70axiVUErdIGFIwK7Wg&usqp=CAU" />
                <div>
                    <h3>Вы решили занятся каким-то делом</h3>
                    <p>Вы не хотите просить об этом напрямую, а только в том случае когда это хотят оба человека</p>
                    <p>Пусть например вы оба увлекатесь картингом, но просить каждый раз - вам не хочется надоедать человеку. И вот тут тоже можно сделать скрытый запрос</p>
                    <p>Когда этого захотят оба человека вы оба узнаете</p>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .home-api-example-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 5px;
        gap: 16px;
    }

    .home-api-example-item-outer {
        background-image: linear-gradient(225deg, #43b5a0 0%, #666368 50%, #7c7c7c 100%);
        opacity: 0.8;
        border-radius: 8px;
        padding: 20px;
        flex: 1;
        color: white;
    }

    .home-api-example-item-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .home-api-example-box .home-api-example-item-outer:nth-child(2n + 1) > .home-api-example-item-inner {
        flex-direction: row-reverse;
    }

    .home-api-example-item-inner > img {
        width: 192px;
        height: 192px;
        border: 1px solid #5b5b66;
        box-shadow: 3px 3px 4px rgb(0 0 0 / 30%);
        object-fit: cover;
    }

    .home-api-example-item-inner > div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
</style>